body
{
 background-color: silver;
}
h1.Menu
{
    font-size: 40px;
    color: #666666;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
nav
{
    background-color: #1c74b2;
    text-align: center;
    margin-bottom: 50px;
}
.menu
{
 list-style-type: none;
 margin: 0;
 padding: 10px;
 font-size: 18px;
 min-height: 38px;
 line-height: 200%;
}
.menu >li
{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px dashed #0a2b42;
}
.menu a
{
    color: #fff;
    text-decoration: none;
}
.menu a:hover
{
    color: #0a2b42;
}
main
{
}
h1.Zad1
{
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.zad1
{
 margin-right: 20px;
 margin-left: 20px;
}
.zad7
{
    text-align: center;
    color: #1c74b2;
    font-size: 20px;
}
h1.Zad7
{
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
